@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300;1,600;1,800&family=Poppins:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,500&display=swap');

/* :root{
  --dark-bg-color:hsl(207,26%,17%);
  --article-color: hsl(209,23%,22%);
  --text-color:hsl(0,0%,100%);
  --light-mode-text:hsl(200,15%,8%);
  --light-mode-input:hsl(0,0%,52%);
  --light-mode-background:hsl(0,0%,98%);
} */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
body{
  font-family: 'numito Sans', sans-serif;
  /* padding: 20px; */
  background-color: #202d36;
  color: #fff;
}
/* Header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3743;
  padding: 10px 20px;
}


/* Filter */
.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
}
.filter .form-control{
 width: 20%; 
}
.filter .form-control input{
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}
.filter .form-control input::placeholder{
  color: #fff;
}


.filter .region-filter .select{
  background-color: #2b3743;
  color: #fff;
  font-family: inherit;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;

}
/* .filter .region-filter{
  width: 100%;
} */



/* Grid */
.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
  
}
/* .grid article{

  box-shadow: 0 10px 10px rgba(9,17,22,0.5);
} */
.grid article img{
  border-radius: 5px 5px 0 0;
  /* height: 250px; */
}
.grid .details{
  background-color: #2b3743;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
}
.grid .details h3{
  padding-bottom: 10px;
}
.grid .details h4{
  padding-bottom: 5px;
}
.grid .details h4 span{
  font-weight: 300;
}
@media (min-width: 640px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (min-width:768px) {
  .filter{
    flex-direction: row;
    justify-content: space-between;
  }
  .filter.form-control{
    width: auto;
  }
  .filter.form-control input{
    width: auto;
    margin: 0;
  }
  .filter .region-filter{
    width: auto;
  }
  .grid{
    grid-template-columns: repeat(3,1fr);
  }
  
}
@media (min-width:992px) {
  .header,
  .filter,
  .grid{
    padding: 20px 100px;
  }
  .grid{
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
  }
  
}